{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron bg-info text-white text-center">
    <h1>Welcome to the News Agency</h1>
    <p>Stay updated with the latest news</p>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{ num_topics }}+ Topics</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{ num_newspapers }}+ Newspapers</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">{{ num_redactors }}+ Redactors</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <h2>Latest News</h2>
  <ul class="list-group">
    {% for news in news_list %}
      <li class="list-group-item">{{ news.title }}</li>
    {% endfor %}
  </ul>
{% endblock %}
