{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Newspapers{% endblock %}

{% block content %}
  <div class="container">

    <div class="text-center my-4 position-relative">
      <h2>Explore News</h2>
      <a href="{% url 'news_agency:newspaper-create' %}" class="btn btn-primary position-absolute"
         style="right: 0; top: 50%; transform: translateY(-50%);">Add News</a>
    </div>

    <div class="row justify-content-center mb-4">
      <form action="" method="get" class="form-inline">
        {{ search_form|crispy }}
        <input type="submit" value="🔎" class="btn btn-primary ">
      </form>
    </div>

    <div class="row">
      {% for newspaper in newspaper_list %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm border-0 rounded-lg h-100">
            <div class="card-body text-center">
              <i class="fas fa-scroll fa-3x text-primary mb-3"></i>
              <h5 class="card-title">
                <a href="{% url 'news_agency:newspaper-detail' newspaper.pk %}"
                   class="text-dark text-decoration-none fw-bold">
                  {{ newspaper.title }}
                </a>
              </h5>
              <p class="text-muted">Published on: <strong>{{ newspaper.published_date.date }}</strong></p>
              <a href="{% url 'news_agency:newspaper-detail' newspaper.pk %}" class="btn btn-outline-primary btn-sm">Read
                More</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-12 text-center">
          <p class="text-muted">No newspapers available.</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
