{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{% if redactor %}Edit{% else %}Create{% endif %} Redactor{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg border-0">
          <div class="card-body">
            <h2 class="text-center">{% if redactor %}Edit{% else %}Create{% endif %} Redactor</h2>
            <form action="" method="post" class="mt-4" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
