<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>News Agency</h5>
        <p>Your trusted source for the latest news.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Abouts Us</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <hr class="bg-white">
    <p class="mb-0">© 2025 News Agency. All rights reserved.</p>
  </div>
</footer>